---
interface Props {
    title: string;
    description: string;
    date: string;
    tags: string[];
    image: string;
    link?: string;
    github?: string;
}

const { title, description, date, tags, image, link, github } = Astro.props;
---

<article class="project-card">
    <div class="image-wrapper">
        <img src={image} alt={title} />
    </div>

    <div class="content">
        <div class="title-group">
            <h3 class="title">{title}</h3>
            <p class="date">{date}</p>
        </div>

        <div class="tag-container">
            {tags.map((tag) => <span class="tag">{tag}</span>)}
        </div>

        <p class="description">{description}</p>


        <div class="links">
            {link && (
                    <a href={link} class="btn primary" target="_blank">View Project</a>
            )}

            {github && (
                    <a href={github} class="btn secondary" target="_blank">GitHub</a>
            )}
        </div>
    </div>
</article>

<style>
    .project-card {
        background-color: #2E2F3C;
        border: 0.2rem solid var(--white);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        transition: border-color 0.2s ease;
    }

    .image-wrapper img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-bottom: 0.2rem solid var(--white);
        border-radius: 1rem 1rem 0 0;
    }

    .content {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 1rem;
    }

    .title-group {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    .title {
        color: var(--orange);
        font-size: 1.5rem;
        margin: 0;
    }

    .date {
        font-size: 1rem;
        line-height: 1rem;
        margin-top: 0;
        padding: 0;
        color: darkgrey;
    }

    .description {
        color: var(--white);
        font-size: 1rem;
        line-height: 1.4;
    }

    .tag-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 0;
    }

    .tag {
        font-size: 0.8rem;
        color: var(--orange);
        border: 1px solid var(--orange);
        padding: 0.2rem 0.5rem;
        border-radius: 0.3rem;
    }

    .links {
        display: flex;
        gap: 1rem;
        margin-top: auto;
        padding-top: 0;
    }

    .btn {
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: bold;
        font-size: 0.9rem;
        transition: 0.2s;
        width: 40%;
        text-align: center;
    }

    .primary {
        background: var(--orange);
        color: var(--white);
    }

    .secondary {
        border: 2px solid var(--orange);
        color: var(--white);
    }

    .primary:hover {
        background: var(--orange-dark);
        color: var(--white-dark);
    }

    .secondary:hover {
        border: 2px solid var(--orange-dark);
        color: var(--orange);
    }
</style>